@model TurnosViewModel
@using Humanizer

@{ var Title = "Administración de Turnos";}
@{ViewData["Title"] =Title;}

<div class="jumbotron text-center">
  <h1>@Title</h1>
  <p>Realice la carga de turnos y marque los turnos finalizados.</p> 
</div>

<div class="panel-footer add-item-form">
    <!-- TODO: Add item form -->
    @await Html.PartialAsync("AddTurnoPartial", new Turno())
</div>

<div class="panel panel-default todo-panel">
  <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Paciente</td>
          <td>Dr./Dra.</td>
          <td>Especialidad</td>
          <td>Fecha</td>
          <td>&#x2713; / &#x2717;</td>
        </tr>
      </thead>
      @foreach (var item in Model.ListaTurnos)
      {
      <tr>
        <td>@item.DniPaciente</td>
        <td>@item.IdProfesional</td>
        <td>@item.IdEspecialidad</td>
        <td>@item.Fecha</td>
        <td>@item.Realizado</td>
      </tr>
      }
    </table>
  </div>
</div>