@model Paciente
<div class="container">
    <form asp-action="form-group">
        <div class="row">
            <div class="col-sm-4 form-horizontal">
                <br>
                <input type="number" class="form-control" asp-for="DNI" value="@Model.DNI" disabled>
                <br>
            </div>
            <div class="col-sm-4 form-horizontal">
                <br>
                <input type="text" class="form-control" asp-for="Apellido" value="@Model.Apellido" disabled>
                <br>
            </div>
            <div class="col-sm-4 form-horizontal">
                <br>
                <input type="text" class="form-control" asp-for="Nombre" value="@Model.Nombre" disabled>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 form-horizontal">
                <br>
                <input type="text" class="form-control" asp-for="Sexo" value="@Model.Sexo" disabled>
                <br>
            </div>
            <div class="col-sm-4 form-horizontal">
                <br>
                <input type="date" class="form-control" asp-for="Fecha_Nacimiento" value="@Model.Fecha_Nacimiento" disabled>
                <br>
            </div>
            <div class="col-sm-4 form-horizontal">
                <br>
                    <a href="Pacientes" class="btn btn-outline-secondary">Atras</a>
                <br>
            </div>
        </div>
    </form>
</div>