@model PacientesViewModel
@using Humanizer

@{ var Title = "Administración de Pacientes";}
@{ViewData["Title"] =Title;}

<div class="jumbotron text-center">
  <h1>@Title</h1>
  <p>Realice la carga, modificación y eliminación de pacientes!</p> 
</div>

<div class="panel-footer add-item-form">
    <!-- Pacientes: Add item form -->
    @*@await Html.PartialAsync("AddPacientePartial", new Paciente())*@
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-fixed">
            <thead>
                <tr>
                    @*<th>&#x2714;</th>*@
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaPacientes)
                {
                    <tr>
                        <td>@item.DNI</td>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td align="center">
                            <div class="btn-group">
                                <form asp-action="Paciente" method="POST">
                                    <input type="submit" class="btn btn-info" value="Detalles" />
                                    <input type="hidden" name="dniPaciente" value="@item.DNI" />
                                    <input type="hidden" name="Modo" value="D" />
                                </form>

                                <form asp-action="Paciente" method="POST">
                                    <input type="submit" class="btn btn-info" value="Modificar" />
                                    <input type="hidden" name="dniPaciente" value="@item.DNI" />
                                    <input type="hidden" name="Modo" value="M" />
                                </form>
                                <form asp-action="BorrarPaciente" method="POST">
                                    <input type="submit" class="btn btn-info" value="Borrar" />
                                    <input type="hidden" name="dniPaciente" value="@item.DNI" />
                                </form>
                            </div>
                        </td>
                    </tr>
                }
        </table>
    </div>
    <div class="panel-footer">
        @*@Html.ActionLink("Agregar paciente", "AddPaciente", "Pacientes");*@
        <a href="/Pacientes/AddPaciente" class="btn btn-primary">Agregar paciente</a>

    </div>
</div>