@model PacientesViewModel
@using Humanizer

@{
    ViewData["Title"] = "Administración de listado de Pacientes";
}
<div class="panel panel-default todo-panel">
<div class="panel-heading">@ViewData["Title"]</div>
<table class="table table-hover">
<thead>
<tr>
@*<td>&#x2714;</td>*@
<td>DNI</td>
<td>Nombre</td>
<td>Apellido</td>
<td>Sexo</td>
<td>Nacimiento</td>
<td>Alta</td>
</tr>
</thead>
@foreach (var item in Model.ListaPacientes)
{
<tr>
<td>@item.DNI</td>
<td>@item.Nombre</td>
<td>@item.Apellido</td>
<td>@item.Sexo</td>
<td>@item.Fecha_Nacimiento.Humanize()</td>
<td>@item.Fecha_Alta.Humanize()</td>
</tr>
}
</table>
<div class="panel-footer add-item-form">
    <!-- TODO: Add item form -->
    @await Html.PartialAsync("AddPacientePartial", new Paciente())
</div>
</div>